<style>
  :root {
    --color-red: rgb(255 59 48);
    --color-green: rgb(56 199 89);
    --color-blue: rgb(0 122 255);
    --color-yellow: rgb(255 204 0);

    --color-gray: rgb(142 142 147);
    --color-gray-2: rgb(174 174 178);
    --color-gray-3: rgb(199 199 204);
    --color-gray-4: rgb(209 209 214);

    --color-bg: white;
    --color-fg: black;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    color: var(--color-fg);
    background-color: var(--color-bg);
    font-family: sans-serif;
  }

  .wrapper {
    width: 100%;
    max-width: 1280px;

    margin: 3rem auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    h1,
    section {
      margin-top: 0;
      margin-bottom: 3rem;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 1.25rem;
    }
  }

  .footer {
    margin-bottom: 1.25rem;
    border-top: 1px solid var(--color-gray);

    ul {
      padding: 0 0 0 1.25rem;
      font-size: 0.875rem;
    }
  }
</style>
