<section>
  <h2>Notifications</h2>

  <label class="switch">
    <input type="checkbox" name="pending"> Medication pending
    <em>(sent after 45min)</em>
  </label>

  <label class="switch">
    <input type="checkbox" name="not-taken"> Medication not taken <em>(sent after 90min)</em>
  </label>

  <label class="switch">
    <input type="checkbox" name="upside-down"> Device upside down
  </label>
</section>

<style>
  .switch {
    position: relative;
    display: block;
    width: fit-content;
    margin-bottom: 1rem;
    padding-left: 2.5rem;

    font-weight: 700;
    cursor: pointer;

    em {
      font-weight: 400;
      font-style: normal;
    }

    input[type="checkbox"] {
      position: absolute;
      left: 0;
      clip: rect(0, 0, 0, 0);
      outline: none;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
    }

    &::before {
      top: -0.125rem;
      left: 0;
      width: 2rem;
      height: 1.25rem;
      background-color: var(--color-gray);
      border-radius: 0.675rem;
      transition: background-color 0.3s ease;
    }

    &::after {
      top: 0;
      left: 0.125rem;
      background-color: white;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      transition: left 0.3s ease;
    }

    &:has(input:checked) {
      &::before {
        background-color: var(--color-green);
      }

      &::after {
        left: calc(1rem - 0.125rem);
      }
    }

    &:has(input:focus-visible)::before {
      outline: 2px solid var(--color-blue);
      outline-offset: 2px;
    }
  }
</style>
