<section>
  <h2>Device status</h2>

  <fieldset class="tab-select">
    <legend>Device status options</legend>
    <label>
      <input type="radio" name="device-status"> Good
    </label>
    <label>
      <input type="radio" name="device-status"> Test
    </label>
    <label>
      <input type="radio" name="device-status"> Defect
    </label>
    <label>
      <input type="radio" name="device-status"> Scrapped
    </label>
  </fieldset>
</section>

<style>
  .tab-select {
    --radius: 0.5rem;
    --padding: 0.25rem;

    display: flex;
    width: fit-content;
    margin: 0;
    padding: var(--padding);

    border: none;
    border-radius: calc(var(--radius) + var(--padding));
    background-color: var(--color-gray-4);

    &:has(:focus-visible) {
      outline: 2px solid var(--color-blue);
      outline-offset: 2px;
    }

    legend {
      position: absolute;
      clip: rect(0, 0, 0, 0)
    }

    input[type="radio"] {
      position: absolute;
      clip: rect(0, 0, 0, 0);
      outline: none;
    }

    label {
      position: relative;
      padding: 0.5rem 1rem;
      border-radius: var(--radius);

      user-select: none;
      cursor: pointer;

      &:has(:checked) {
        background-color: var(--color-yellow);
      }

      &:first-of-type {
        border-top-left-radius: var(--radius);
        border-bottom-left-radius: var(--radius);
      }

      &:last-of-type {
        border-top-right-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
      }
    }
  }
</style>
