<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ page.title }} | UI Elements</title>
    <meta
      name="description"
      content="A collection of code snippets for UI Elements"
    />
    <link rel="manifest" href="/manifest.json" />
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/img/favicon.png" />

    {% include style.html %}
  </head>

  <body>
    <div class="wrapper">
      {% include header.html %}
      <main id="main-content">{{ content }}</main>
      {% include footer.html %}
    </div>
  </body>
</html>
